@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0A192F] text-cyan-300;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00ffff66;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #00ffff55;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffffaa;
}
